/* Sample CSS for GitHub-like Dark Theme */

@font-face {
  font-family: "SpaceGroteskRegular"; /* You can choose any name for your font family */
  src: url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  /* Add additional font formats if your font comes with more files */
}

@font-face {
  font-family: "SpaceGroteskBold";
  src: url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}

body {
  background-color: #ffff00;
  color: #ffffff;
  font-family: SpaceGroteskRegular, sans-serif;
  margin: 20px;
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}

.markdown-body {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}

.social-icon {
  height: 15px;
  width: 15px;
  transition: filter 0.5s ease; /* Set up the transition for the filter property */
}

.social-icon {
  filter: none; /* Invert the colors for dark mode */
}

.social-icon:hover {
  filter: invert(1); /* Remove the inversion on hover for dark mode */
}

a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  color: #00FFFF;
  background: #000000;
  transition: background-color 0.5s ease, color 0.5s ease;
  text-decoration: none;
}

p {
  color: #000000;
}

h2,
h1,
h3,
h4 {
  color: #000000;
}

li::marker {
  color: #000000;
}

li a {
  font-size: 18px;
}

/* Style code blocks */
pre {
  background-color: #161b22;
  color: #c9d1d9;
  padding: 10px;
  border: 1px solid #21262d;
  border-radius: 5px;
  overflow: auto;
}

code {
  padding: 2px 5px;
  border-radius: 3px;
  font-family: "SpaceGroteskBold", sans-serif;
  font-weight: bold;
}

/* Style table rows and cells */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #000000;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
  word-break: break-word;
}

td:last-child {
  text-align: center !important;
}

tr {
  color: #000000;
}

.banner-logo-container {
  display: flex;
  justify-content: center;
}
#banner-logo {
  width: 50%;
  margin: auto;
}
.content-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 600px) {
  .content-container {
    /*max-width: 550px;*/
  }

  table {
    table-layout: fixed;
    border: none;
  }

  thead {
    display: none;
  }
  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid black;
  }

  td {
    display: block;
    padding: 10px;
    word-break: break-all;
  }

  td::before {
    content: attr(col) ": ";
    font-weight: bold;
    margin-bottom: 5px;
  }
}
